h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 0.6em;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 0.6em;
}

.container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.border-fat {
    border-width: 4px !important;
}

.todo {
    background: goldenrod;
}

.doing {
    background: cornflowerblue;
}

.done {
    background: mediumspringgreen;
}

.icon-sm {
    height: 1.6rem;
    width: 1.4rem;
    font-size: .7rem;
}

.icon-white {
    color: white;
}


/* Tamaño de los iconos del task card */

.item.card i[class ^='fa'] {
    font-size: 16px;
}

.item.card i[class ^='fa']:hover {
    text-shadow: 2px 2px 10px #000000;
}