.container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.border-fat {
    border-width: 4px !important;
}

.todo {
    background: goldenrod;
}

.doing {
    background: cornflowerblue;
}

.done {
    background: mediumspringgreen;
}

.card {
    padding-bottom: 2em;
}

.icon-white {
    color: white;
}


/* Tamaño de los iconos del task card */

.item.card i[class ^='fa'] {
    font-size: 12px;
}


/* STYCKY CHRONO */

.chrono-font {
    font-size: 2em;
}

.sticky-chrono {
    position: sticky;
    background-color: mediumvioletred;
    top: 0;
    z-index: 1;
    text-align: center;
}

.chrono-container {
    background: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid #e3342f;
    border-radius: 10px;
}

.my-container {
    margin: 3%;
    width: auto;
}

.my-group {
    margin: 10%;
    padding: 2%;
    width: auto;
    border: 4px solid grey;
    background: #e4e7ff;
}

.styckychrono-title-font {
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}


/*MOVIBLE*/

.item {
    position: relative;
}

.item-move {
    position: absolute;
    width: 100%;
    height: 100%;
}

.tilt.right {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}

.tilt.left {
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}