nav,
footer {
    background: #114163;
    color: white !important;
}

#content-wrapper {
    background: #d9d9ff !important;
}

footer {
    color: black !important;
}
.card {
    border: 1px solid #b2b4bf !important;
}

.card-header {
    background: #5a5c69 !important;
    border: 0px;

    color: white !important;
    /* border: 2px solid #ffaf17; */
}

.card-header h1 {
    color: white !important;
}

/* ----------------------------------------------------------------------
    LETRA E ICONOS
    --------------
*/

@font-face {
    font-family: 'digital-7';
    src: url('/font/digital-7.tff') format("ttf");
    font-style: normal;
    font-weight: normal;

}


/* 
h1,
h2,
h3,
h4 {
    font-family: "Roboto", sans-serif;
} 
*/

h1 {
    font-size: 1.5em;
    color: #4e73df;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 0.6em;
    color: #4e73df !important;
}

h3,
h4 {
    font-size: 1.1em;
    margin-bottom: 0.6em;
}

/* Iconos de dentro de un card header */

/* .card-header i {
    font-size: 1.6em;
} */

a[data-togglebuttons] i {
    font-size: 1em;
    color: white;
}

/* Botones colapsables de la tarea */

div[data-toggleid] div {
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}

.font-roboto {
    font-family: "Roboto";
}

.list-group-item {
    border-color: #b2b4bf;
}

.progress {
    border: 1px solid #b2b4bf;
}

hr {
    background: #b2b4bf;
}

/* ----------------------------------------------------------------------
    PROJECT SHOW
    -------------
*/

/* Bordes de Doing */

.taskgroup-border {
    border-left: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
}

/* Fondos */

.todo {
    background: #ff8181 !important;
}

.doing {
    background: #36b9cc !important;
}

.done {
    background: #1cc88a !important;
}

.text-todo {
    color: #ff8181 !important;
}

.text-doing {
    color: #36b9cc !important;
}

.text-done {
    color: #1cc88a !important;
}

.bg-todo {
    background: #ff8181 !important;
}

.bg-todo-light {
    background: #f5dcdc;
}

.bg-doing {
    background: #36b9cc !important;
}

.bg-doing-light {
    background: #d5edf1;
}

.bg-done {
    background: #1cc88a !important;
}

.bg-done-light {
    background: #caf1e3;
}

.border-todo,
.border-doing,
.border-done {
    border-style: solid;
    border-radius: 6px;
    border-width: 0px 1px 1px 1px;
}

.border-todo {
    border-color: #ff8181 !important;
}

.border-doing {
    border-color: #36b9cc !important;
}

.border-done {
    border-color: #1cc88a !important;
}

a i.far:hover,
a i.fas:hover,
a i.fa:hover,
i[data-funct]:hover,
button i:hover {
    color: #1cc88a !important;
}
/**---------------------------------------------------*/

.breadcrumbs {
    border: 1px solid #e3e6f0;
}

ul.striped > li:nth-child(odd) {
    background: #edefe6;
}

.todo-list {
    border: 1px solid #ff8181;
    border-radius: 8px;
}

.doing-list {
    border: 1px solid #36b9cc;
    border-radius: 8px;
}

.done-list {
    border: 1px solid #1cc88a;
    border-radius: 8px;
}

#sticky-chrono {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 1;
}

#chronotime {
    font-size: 2.5em;
}

#chrono-container {
    border: 1px solid;
    background: gainsboro;
    color: black;
    border-radius: 5px;
}

/* Botones de la tarea */
.card-body div[data-toggleid] {
    position: absolute;
    right: 3px;
    top: 3px;
}
